* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #f0f0f0;
    color: #4e4e4e;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 0px 5px;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .row {
        flex-direction: column;
    }

    .ref {
        position: initial;
    }

    details[open] {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

button,
textarea,
.textarea {
    border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: 500;
}

h4 {
    font-weight: 800 !important;
}

.ref {
    position: absolute;
    right: 10px;
    background-color: #dfdfdf;
    border-radius: 5px;
    z-index: 1000;
}

summary {
    cursor: pointer;
}

details[open] {
    background-color: white;
    border: 1px solid #dfdfdf;
    position: fixed;
    top: 10px;
    right: 6px;
    width: 600px;
    max-width: 90vw;
    height: 800px;
    max-height: 80vh;
    overflow-y:auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

details[open] div {
    padding: 10px;
}

details[open] summary {
    border-bottom: 1px solid #dfdfdf;
    padding:10px;
    position:sticky;
    top:-1px;
    background-color: white;
}

#stats {
    text-align: center;
    height: 32px;
}

.hidden {
    display: none;
}

img {
    vertical-align: middle;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-center {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

textarea,
.textarea {
    width: 100%;
    height: 200px;
    margin: 20px 0px;
    margin-top: 5px;
    border: 1px solid #dfdfdf;
    height: 70vh;
    outline: none;
    padding: 5px;
    font-family: Consolas, "Ubuntu Mono", "Courier New", Courier, monospace;
    resize: none;
    font-size:large;
}

#editor {
    padding: 0px;
    border-radius: 5px !important;
    background-color: white;
}

.overflow-guard,
.monaco-editor {
    border-radius: 5px !important;
}

button {
    padding: 10px 25px;
    margin: 0px 2px;
    border: 0px;
    outline: none;
    background-color: #dfdfdf;
}

button.green {
    background-color: #2db55d;
    color: white;
}

button.green:hover {
    background-color: #2aaf58;
}

button.green:active {
    background-color: #279f4e;
}

button:hover {
    background-color: #d1d1d1;
}

button:disabled {
    background-color: rgb(221, 221, 221) !important;
    color: grey !important;
    cursor: not-allowed !important;
}

button:active {
    background-color: #a5a5a5;
}

textarea:focus,
.textarea:focus-within,
button:focus {
    box-shadow: 0px 0px 0px 5px rgba(0, 123, 255, 1);
}

.credits {
    color: #8e8e8e !important;
}

/* Loader */

.loader,
.loader:after {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.loader {
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    border-top: 4px solid rgba(153, 193, 241, 0.2);
    border-right: 4px solid rgba(153, 193, 241, 0.2);
    border-bottom: 4px solid rgba(153, 193, 241, 0.2);
    border-left: 4px solid #1b770e;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.5s infinite linear;
    animation: load8 0.5s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}